[run]
omit = test/*
branch = True
data_file = ${VIRTUAL_ENV}/.coverage
source = funpy


[report]
exclude_lines =
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
