# This has been stoled from below:
#  here https://docs.travis-ci.com/user/languages/python/

language: python

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

install:
  - pip install -U -rtest/requirements.txt coveralls
  - pip install -U -rrequirements.txt
  - pip install -U .

env:
  - VIRTUAL_ENV=. PYTHONPATH=.

script:
  - pytest --cov=funpy

after_success: coveralls --rcfile=.coveragerc
